@model Polling.Core.DTOs.User.ListPollsForShowToUserViewModel


<tbody>
    <tr>
        <td>@Model.Title</td>
        <td>@Model.CreateDate.ToString("yyyy/MM/dd")</td>
        @if (Model.EndDate == null)
        {
            <td> - </td>
        }
        else
        {
            <td>@Model.EndDate?.ToString("yyyy/MM/dd")</td>
        }
        <td>
            <span class="sticker @(Model.Participated ? "sticker-participated" : "sticker-not-participated")">
                @(Model.Participated ? "شرکت کرده" : "شرکت نکرده")
            </span>
        </td>
        <td>
            <span class="sticker @(Model.IsActive ? "sticker-active" : "sticker-inactive")">
                @(Model.IsActive ? "فعال" : "غیرفعال")
            </span>
        </td>
        <td>
            <a asp-action="ShowPolls" asp-route-voteId="@Model.VoteId" class="btn btn-outline btn-success">
                شرکت در نظرسنجی
            </a>
        </td>
    </tr>
</tbody>